<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.medicin.pojo.Medicin">

<!--<select id="getMedicinList" resultMap="medMap">
    select id,medicin_name,g_id,ischufang,address,price,created_time from medicin
    <where>
        <if test="medicinName!=null and medicinName!=''">medicin_Name like cancat('%',#{medicinName},'%')</if>
        <if test="gId!=null">and g_id =#{gId}</if>
        <if test="isChuFang!=null">and isChuFang =#{isChuFang}</if>
    </where>
</select>-->
</mapper>